name: Deploy static site

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload static site to repository
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./

